*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color:#0B0F1A; 
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 30px;
    font-size: 2.8rem;
    letter-spacing: 2px;
    
}

h2 {
    margin: 15px 0 30px 0;
    font-weight: 400;
    color: #ddd;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.line-one,
.line-two {
    display: flex;
}

.btn {
    height: 180px;
    width: 180px;
    border-radius: 20%;
    margin: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: 6px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.btn:hover {
    transform: scale(1.05);
}

.red {
    background-color: #ff1717;
   /* background-color: #dd1451; */
    box-shadow: 0 0 25px #ff1717;
}

.yellow {
      background-color: #eee308;
    box-shadow: 0 0 25px #eee308;
}

.green {
    background-color: #00c060;
    box-shadow: 0 0 25px #00c060;
}

.purple {
    background-color: #537eff;
    box-shadow: 0 0 25px #537eff;
}


.flash {
    background-color: white !important;
    box-shadow: 0 0 40px white !important;
    transform: scale(1.1);
}

.userflash {
    opacity: 0.6;
    transform: scale(0.95);
}

.gameover{
    background: #ff0000 !important;
    animation: shake 0.3s;
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-8px);
    }
    50%{
        transform: translateX(8px);
    }
    75%{
        transform: translateX(-8px);
    }
    100%{
        transform: translateX(0);
    }
}
@media (max-width: 600px) {
    .btn {
        height: 130px;
        width: 130px;
        margin: 15px;
    }

    h1 {
        font-size: 2rem;
    }
}
